---
import type { CollectionEntry } from "astro:content";
import Authors from "@components/Authors.astro";
import { format, formatISO9075 } from 'date-fns';
import { getPermalink } from "@utils/permalinks";
import { Image } from '@astrojs/image/components';
import { trimPublic } from "@utils/utils";
import { Icon } from 'astro-icon'

export interface Props {
    post: CollectionEntry<'blog'>
}
const { post } = Astro.props;

const { Content, headings, remarkPluginFrontmatter: remark } = await post.render();
---

<article class="relative group bg-white overflow-hidden rounded-3xl shadow-sm">
    <div class="p-4 text-xs font-semibold flex gap-2 absolute">
        {post.data.tags && post.data.tags.map((tag) => (
            <a href={getPermalink(tag, 'blog_tag')} class="bg-cyan-500 text-white rounded-xl px-4 py-2 leading-none text-xs">{tag}</a>
        ))}
    </div>
    <a href={getPermalink(post.slug, 'blog_post')} aria-labelledby={`article-${post.slug}-link`} class="opacity-0 absolute inset-0 pointer-events-none">{post.data.title}</a>

    {post.data.heroImage && 
        <div class="rounded-3xl overflow-hidden bg-red-500">
            <Image src={trimPublic(post.data.heroImage)} width={1000} aspectRatio={16/9} alt={post.data.title} />
        </div>
    }
    
    <div class="py-4 px-5">
        <div class="text-xs  text-gray-500 uppercase font-headings">
            <span>By</span>
            <span class="font-semibold">{post.data.authors[0]}</span>
            <span>・</span>
            <time class="font-semibold" datetime={formatISO9075(new Date(post.data.pubDate), {representation: 'date'})}>{format(new Date(post.data.pubDate), 'MMM do yyyy')}</time>
        </div>
        <h2 class="text-3xl text-gray-800 font-medium leading-none font-headings mt-2">
            <a href={getPermalink(post.slug, 'blog_post')} id={`article-${post.slug}-link`}>
                <span>{post.data.title}</span>
                <!---
                
                    <span class="h-8 w-8 border-2 border-gray-900 group-hover:border-cyan-500 group-hover:bg-cyan-500 group-hover:text-white inline-block items-center justify-center rounded-full relative overflow-hidden transition-all duration-300 ease-in-out">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 rotate-45 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:translate-x-[20px] group-hover:translate-y-[-40px] transition-all duration-300 ease-in-out">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 rotate-45 absolute top-1/2 left-1/2 transition-all duration-300 ease-in-out translate-x-[-40px] translate-y-[20px] group-hover:-translate-x-1/2 group-hover:-translate-y-1/2 ">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75" />
                        </svg>
                    </span>
                -->
            </a>
        </h2>
    </div>


</article>